body{
    background-color: hsl(40, 100%, 95%);
}
main{
    text-align:center;
    margin-left: 35%;
    margin-top: 12.5%;
}
main h1{
    margin: 3rem;
    background-color: hsl(40, 100%, 60%);
    width: 25rem;
    border-radius: 2rem;
}
main h1:hover{
    transform: scale(1.5);
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.5s;
}
main a{
    color: black;
    text-decoration: none;
}

#back{
    word-spacing: 1rem;
}
#back a{
    color: hsl(98, 100%, 30%);
    text-decoration: none;
}
#back a:hover{
    color:hsl(98, 100%, 20%);
    text-decoration: underline dashed hsl(98, 100%, 30%);
}