#back{
    word-spacing: 1rem;
}
#back a{
    color: hsl(98, 100%, 30%);
    text-decoration: none;
}
#back a:hover{
    color:hsl(98, 100%, 20%);
    text-decoration: underline dashed hsl(98, 100%, 30%);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
}
header h4, .t{
    line-height: 0.05;
}
.start{
    background-color: hsl(195, 100%, 60%);
    color: hsl(195, 100%, 10%);
    border-radius: 2rem;
    cursor: pointer;
    width: 5rem;
    text-align: center;
}
.start:hover{
    transform: scale(1.5);
    text-decoration: underline dotted hsl(195, 100%, 20%);
}

button{
    background: none;
    margin: 2rem;
    color:hsl(177, 100%, 20%);
    font-size: 2rem;
    cursor: pointer;
}
button:hover{
    background-color: hsl(60, 100%, 90%);
    color: hsl(60, 100%, 20%);
}
button:active{
    background-color: hsl(151, 100%, 90%);
    color: hsl(151, 100%, 20%);
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
    margin-left: 2rem;
}
main h3{
    display: block;
    margin-left: 9.5rem;
}
body>h1{
    text-align:center;
}